<div id="mobile-menu">
	
	<div class="close-mobile">
		<div></div>
		<div></div>
	</div>
	
	<nav>
		<ul>
			{% for link in linklists.main-menu.links %}
			
				{% assign child_list_handle = link.title | handleize %}
				<li>						
					{% if linklists[child_list_handle].links != blank %}
			      <a href="{{ link.url }}" class="acc-trigger">{{ link.title }}</a>
			      <ul class="acc-content">  
			        {% for link in linklists[child_list_handle].links %}
			          <li class="mobile-submenu-link">
			            <a href="{{ link.url }}">{{ link.title }}</a>
			          </li>
			        {% endfor %}
			      </ul>
			    {% else %}
			      <a href="{{ link.url }}">{{ link.title }}</a>
			    {% endif %}
				</li>
				
			{% endfor %}
		</ul>	
	</nav>
		
</div>