<div class="narrative-interruption-messages" style="display: none;">
  {% if settings.ni_1 != '' %}
  <div class="message">
    <h4>{{ settings.ni_1 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_2 != '' %}
  <div class="message">
    <h4>{{ settings.ni_2 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_3 != '' %}
  <div class="message">
    <h4>{{ settings.ni_3 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_4 != '' %}
  <div class="message">
    <h4>{{ settings.ni_4 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_5 != '' %}
  <div class="message">
    <h4>{{ settings.ni_5 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_6 != '' %}
  <div class="message">
    <h4>{{ settings.ni_6 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_7 != '' %}
  <div class="message">
    <h4>{{ settings.ni_7 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_8 != '' %}
  <div class="message">
    <h4>{{ settings.ni_8 | newline_to_br }}</h4>
  </div>
  {% endif %}
  {% if settings.ni_9 != '' %}
  <div class="message">
    <h4>{{ settings.ni_9 | newline_to_br }}</h4>
  </div>
  {% endif %}
</div>