<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  
  {% assign mlveda_code_flag = true %}
  
  {% if mlveda_code_flag == true %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script>
      	$m = $.noConflict(true);
	 window.pattern = /^(do|sv|ee|fi|fr|gd|gp|gg|hu|is|im|il|kz|ke|kg|la|mo|mk|mh|mq|ms|ma|nl|ne|ng|no|pw|py|pl|pt|kn|st|sc|sg|sk|za|sr|sj|th|to|tm|tc|uz|vu|vn|zm|af|al|as|ao|ai|an|ag|ar|as|bb|by|aq|bm|bq|bv|au|vg|bs|cv|bh|cf|bd|cn|be|co|ba|ci|bw|dk|bn|dm|bi|cd|cm|ec|ca|eg|td|gq|cx|er|cc|et|cr|eu|ga|gh|cy|gi|dj|gu|eu|gt|fk|gn|fo|gw|gf|hm|pf|hn|gm|iq|ge|ie|de|jm|gr|jp|in|ki|id|lr|je|mw|lv|my|ly|mu|li|yt|mv|mx|mc|mn|mz|nr|np|ni|nu|nf|pk|na|ph|oc|pn|om|qa|pg|re|pr|sh|ro|ru|rw|sm|bl|rs|pm|sx|vc|gs|sa|sd|sl|se|si|tj|tz|sb|tt|sa|tn|es|gb|lk|va|ch|zw|sy|tw|tl|tg|tr|um|vi|ug|us|uy|ve|af|ax|dz|ad|am|aw|at|az|bz|bj|bt|bo|br|io|bg|bf|kh|ky|cl|km|cg|ck|hr|cu|cw|cz|fj|tf|gl|gy|ht|hk|ir|it|jo|kw|lb|ls|lt|lu|mg|ml|mt|mr|fm|md|me|mm|na|nc|nz|kp|mp|ps|pa|pe|lc|mf|ws|sn|so|kr|ss|sz|tk|tv|ua|ae|wf|eh|ye|intl)$/;
      </script>

  {% endif %}

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if settings.favicon_enable %}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />{% endif %}

  <!-- Title and description ================================================== -->
  <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  
  <!-- Favicon ================================================== -->
  {% include 'favico' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.5">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="width">
  
  <meta name="theme-color" content="#6699b0">

  <!-- CSS ================================================== -->
  {{ 'style.scss.css' | asset_url | stylesheet_tag }} 
  {% comment %}{{ 'slick.scss.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {% comment %}{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}{% endcomment %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.app_wk_enabled %}
    {% include 'appmate-wishlist-king' %}
  {% endif %}
  

  
  {% if mlveda_code_flag == true %}
 <script>
  $m("<style type=\"text/css\">span.money{ opacity: 1; }</style>").appendTo("head");
</script>
{% endif %} 


  
<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script>


{{ 'bc-sf-filter.css' | asset_url | stylesheet_tag }}
</head>

{% assign data_nav = template | handleize %}

{% include 'iubenda-banner' %}

<body id="{{ page_title | handle }}" data-nav="{{ data_nav }}" data-page="" class="{% if template == 'index' and settings.home_enable_video %}video-billboard-offset {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ template | handleize }} {% if current_tags.size > 0 %}tagged{% endif %}" >
  
  
   
	{% include 'sprite' %}
	
	{% if settings.product_image_zoom_type == 'takeover' %}
	  {% include 'product-takeover' %}
	{% endif %}
	
	{% include 'handlebars-templates' %}
	
  {% comment %}
	{% include 'cart-flyout' %}
  {% endcomment %}
  
  {% if settings.home_enable_video and template == 'index' %}
  {%- assign headline = settings['home_video_headline'] -%}
  {%- assign text = settings['home_video_text'] -%}
  {%- assign btn = settings['home_video_btn'] -%}
  {%- assign link = settings['home_video_link'] -%}
  {%- assign position_x = settings['home_video_x'] -%}
  {%- assign position_y = settings['home_video_y'] -%}
  {%- assign color = settings['home_video_color'] -%}
  {%- assign mp4 = settings['home_video_mp4'] -%}
  {%- assign webm = settings['home_video_webm'] -%}
  {%- assign ogv = settings['home_video_ogv'] -%}

  {%- if mp4 != blank or webm != blank or ogv != blank -%}
  <section id="home-video" class="section-video" data-timestamp="true" data-module-init="home-hero video" data-mp4="{{ settings.home_video_mp4 }}" data-webm="{{ settings.home_video_webm }}" data-ogv="{{ settings.home_video_ogv }}" data-poster="{{ settings.home_video_poster | img_url: 'master' }}">
  	<div class="billboard">
  		<div class="billboard-bg-video">
  			{%- if headline != blank or text != blank or btn != blank -%}
  				{%- include 'billboard-text' with 'video' -%}
  			{%- endif -%}
  		</div>
  	</div>
  </section>
  {%- endif -%}
  {% endif %}
  
  <div class="logo" style="margin-left:-{{ settings.logo_max_width | divided_by:2 }}px" itemscope itemtype="http://schema.org/Organization">
    {% if settings.logo_use_image %}
      <a href="/#shop" class="logo-link" itemprop="url" style="width:{{ settings.logo_max_width }}px;">{% if settings.logo.svg != '' %}{{ settings.logo_svg }}{% else %}<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">{% endif %}</a>
    {% else %}
      <a href="/" itemprop="url">{{ shop.name }}</a>
    {% endif %}
  </div>
  
  <main class="main-content" id="shop" role="main">
    {% include 'header' %}
    <div class="main-wrapper">
      <div id="main-dummy" class="main-dummy"></div>
      <script>
        var dummy = document.getElementById('main-dummy');
        var header_height = document.getElementById('app-header').offsetHeight;
        dummy.style.height = header_height + 'px';
        setTimeout(function(){
          $('#main-dummy').css('height', $('#app-header').outerHeight())
        }, 100)
      </script>
      
      
      
      
	    {% if mlveda_code_flag == false %}
			{{ content_for_layout }}	
  		{% endif %}

  		{% if mlveda_code_flag == true %}
			<div class="mlvedaform">
				{{ content_for_layout }}
            {% include 'mlveda-multipricing-options' %}
          	</div>
          	{% include 'mlveda-multipricing-selectBox' %}

          	{% include 'mlveda-multipricing-selectors' %}
		{% endif %}

      
      
      
      <div class="search-results-ajax-container wrapper collection-wrapper">
        <div class="live-search-results grid-wrapper"></div>
      </div>
    </div>
    {% include "footer" %}
  </main>
  
  
  
  {% if settings.enable_popup %}
	  {% include 'newsletter-popup' %}
  {% endif %}
   
  {% if settings.sizeguide_option != 'none' %}
	  {% include 'sizeguide' %}
  {% endif %}
  
	<script>
		Shopify.money_format = "{{ shop.money_format }}";
	</script>


  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
		
  {{ 'vendor.min.js' | asset_url | script_tag }}
  
  {% include 'currencies' %}
  <script type="text/javascript">
    window.money_format = "{{ shop.money_with_currency_format }}";
    console.log(window.money_format);
  </script>
  {% if template contains 'product' %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js"></script>
  <!-- Initialise Cart.js once the page has loaded -->
  <script type="text/javascript">
      jQuery(function() {
          CartJS.init({{ cart | json }});
      });
  </script>
  {% endif %}
  
  {{ 'main.min.js' | asset_url | script_tag }}
  
  {% comment %}
  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
      {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %} 
  {% endif %}
  {% endcomment %}
  
  {% comment %}
  {% include 'search-autocomplete' %}
  {% endcomment %}
  {% include 'narrative-interruptions' %}
  
  <!-- Begin Recently Viewed Products -->

  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
  
  <script>
  Shopify.Products.recordRecentlyViewed({ howManyToShow:12 });
  </script>

  {% endif %}

  <!-- End Recently Viewed Products -->
  {% comment %}
  <script type="text/javascript">
   /*
    * jQuery doTimeout: Like setTimeout, but better! - v1.0 - 3/3/2010
    * http://benalman.com/projects/jquery-dotimeout-plugin/
    * 
    * Copyright (c) 2010 "Cowboy" Ben Alman
    * Dual licensed under the MIT and GPL licenses.
    * http://benalman.com/about/license/
    */
   (function($){var a={},c="doTimeout",d=Array.prototype.slice;$[c]=function(){return b.apply(window,[0].concat(d.call(arguments)))};$.fn[c]=function(){var f=d.call(arguments),e=b.apply(this,[c+f[0]].concat(f));return typeof f[0]==="number"||typeof f[1]==="number"?this:e};function b(l){var m=this,h,k={},g=l?$.fn:$,n=arguments,i=4,f=n[1],j=n[2],p=n[3];if(typeof f!=="string"){i--;f=l=0;j=n[1];p=n[2]}if(l){h=m.eq(0);h.data(l,k=h.data(l)||{})}else{if(f){k=a[f]||(a[f]={})}}k.id&&clearTimeout(k.id);delete k.id;function e(){if(l){h.removeData(l)}else{if(f){delete a[f]}}}function o(){k.id=setTimeout(function(){k.fn()},j)}if(p){k.fn=function(q){if(typeof p==="string"){p=g[p]}p.apply(m,d.call(n,i))===true&&!q?o():e()};o()}else{if(k.fn){j===undefined?e():k.fn(j===false);return true}else{e()}}}})(jQuery);
   
  {% if template contains 'collection' or template contains 'index' %}
      
       var paginateIndex = 0;
       var paginateURLS = [];
       var isLoading = false;
       $('.pagination-custom a').each(function(){
         paginateURLS.push($(this).attr('href'));
       });
       
       var moreURL = $('#more a').attr('href');
       console.log(moreURL)
       
       function ScrollExecute() {
         
         if($(document).height() - 1200 < ($(document).scrollTop() + $(window).height())) {
             //scrollNode = $('#more').last();    
             //scrollURL = $('#more p a').last().attr("href");
             if(moreURL != undefined && !isLoading) {
                 console.log(moreURL)
                 //console.log(paginateURLS[paginateIndex])
                 $.ajax({
                     type: 'GET',
                     url: moreURL,
                     beforeSend: function() {
                         isLoading = true;
                         //scrollNode.clone().empty().insertAfter(scrollNode).append('<img src=\"{{ "loading.gif" | asset_url }}\" />');
                         //scrollNode.hide();
                     },
                     success: function(data) {
                         // remove loading feedback
                         
                         paginateIndex++;
                         //scrollNode.next().remove();
                         var filteredData = $(data).find(".product-item"); 
                         console.log($(data).find("#more a").attr('href'));
                         moreURL = $(data).find("#more a").attr('href');
                         filteredData.insertBefore( $("#product-list-foot") );  
                         isLoading = false;                 
                     },
                     dataType: "html"
                 });
             }
         }
       }
 
       $(document).ready(function () {
         console.log('attach win scroll');
         var scrollTimer;
         $(window).scroll(function(){
           console.log('scrollexecute');
           $.doTimeout( 'scroll', 200, ScrollExecute);
         });
       });
  {% endif %}
  </script>
  {% endcomment %}


  
{% if mlveda_code_flag == true %}
  {% include 'mlveda-multipricing-updateprice' %}
{% endif %}
  
  

{% include 'bc-sf-filter' %}
{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}

</body>
</html>
