{% include 'collection-settings' with 'section' %}
{% assign collection = section.settings['featured_collection'] %}
{% assign featured_collection = collections[collection] %}		
{% assign total_products = 50 %}
{% include 'collection-settings' %}


{% paginate featured_collection.products by total_products %}
<div class="wrapper collection-wrapper">
  
  <div id="bc-sf-filter-tree-mobile" style="display: none !important;"></div>
  <div id="bc-sf-filter-tree" class="init-hide" style="display: none !important;"></div>
  <div id="bc-sf-filter-top-sorting" style="display: none !important;"></div>
  
	<div id="bc-sf-filter-products" class="grid-wrapper">
	  {% for product in featured_collection.products %}
	    {% include 'product-item' with item_width %}
	  {% endfor %}
	</div>	
  <div id="bc-sf-filter-bottom-pagination"></div>
</div>
{% endpaginate %}

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      refine: "{{ 'product_filter_search.refine' | t }}",
      refine_mobile: "{{ 'product_filter_search.refine_mobile' | t }}",
      clear: "{{ 'product_filter_search.clear' | t }}",
      clear_all: "{{ 'product_filter_search.clear_all' | t }}",
      apply: "{{ 'product_filter_search.apply' | t }}",
      breadcrumb_home: {% if product_filter_search.breadcrumb_home != blank %} {{ 'product_filter_search.breadcrumb_home' | t }}" {% else %} "Home" {% endif %},
      load_more: {% assign temp = 'product_filter_search.load_more' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Load more Products" {% endunless %},
      show_limit: {% assign temp = 'product_filter_search.show_limit' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Show" {% endunless %},
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
    },
    custom: {
    }
  };
</script>


{% schema %}
  {
    "name": "Collection",
    "class": "section-collection",
    "settings": [
	    {
		    "type": "select",
		    "id": "featured_collection_row",
		    "label": "Rows",
		    "options": [
			    {
				    "value": "1",
				    "label": "1"
			    },
			    {
				    "value": "2",
				    "label": "2"
			    },
			    {
				    "value": "3",
				    "label": "3"
			    }
		    ],
		    "default": "3"
	    },
	    {
		    "type": "select",
		    "id": "featured_collection_per",
		    "label": "Items per row",
		    "options": [
			    {
				    "value": "2",
				    "label": "2"
			    },
			    {
				    "value": "3",
				    "label": "3"
			    },
			    {
				    "value": "4",
				    "label": "4"
			    }
		    ]
	    },
	    {
		    "type": "collection",
		    "id": "featured_collection",
		    "label": "Featured Collection" 
	    }
    ],
    "presets": [
	    {
		    "name": "Collection"
	    }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}