{% assign product = section.settings['featured_product'] %}
{% assign featured_product = all_products[product] %}
{% assign collab_image = section.settings['collab_image'] %}
{% assign collection = section.settings['collab_collection'] %}
{% assign featured_collection = collections[collection] %}


<div class="section">
  
  {% for block in section.blocks %}
    <div class="product-collab-block">
      <button class="back-to-look">Back To Look</button>
      <div class="product-collab-upper">
        <div class="product-collab-block-references">
          <ol>
            {% if block.settings.product_one != '' %}
            {% assign product = all_products[block.settings.product_one] %}
            {% assign sku = product.selected_or_first_available_variant.sku %}
            {% assign size = block.settings.product_one_size %}
            {% assign color = block.settings.product_one_color %}
            <li data-id="1"><a href="{{ product.url | within: featured_collection }}" title="{{ product.title }}"><span class="counter"><span>1</span></span><div class="product-collab-content"><span class="product-collab-sku">{% include 'new-sku' with sku  %}</span><h1 class="product-collab-title">{{ product.title }}</h1><div class="product-collab-sizing">{% if size != blank %}<em>Models wears a size </em><b>{{ size }}</b>{% endif %}{% if size != blank and color != blank %}/{% endif %}{% if color != blank %}<em>Color </em><span class="condensed">{{ color }}</span>{% endif %}</div><span class="product-collab-description">{{ product.description }}</span><!--<a href="{{ product.url}}">View Item</a>--></div></a>{% include 'product-item' with item_width %}</li>
            {% endif %}
            {% if block.settings.product_two != '' %}
            {% assign product = all_products[block.settings.product_two] %}
            {% assign size = block.settings.product_two_size %}
            {% assign color = block.settings.product_two_color %}
            <li data-id="2"><a href="{{ product.url | within: featured_collection  }}" title="{{ product.title }}"><span class="counter"><span>2</span></span><div class="product-collab-content"><span class="product-collab-sku">{% include 'new-sku' with sku  %}</span><h1 class="product-collab-title">{{ product.title }}</h1><div class="product-collab-sizing">{% if size != blank %}<em>Models wears a size </em><b>{{ size }}</b>{% endif %}{% if size != blank and color != blank %}/{% endif %}{% if color != blank %}<em>Color </em><span class="condensed">{{ color }}</span>{% endif %}</div><span class="product-collab-description">{{ product.description }}</span><!--<a href="{{ product.url}}">View Item</a>--></div></a>{% include 'product-item' with item_width %}</li>
            {% endif %}
            {% if block.settings.product_three != '' %}
            {% assign product = all_products[block.settings.product_three] %}
            {% assign size = block.settings.product_three_size %}
            {% assign color = block.settings.product_three_color %}
            <li data-id="3"><a href="{{ product.url | within: featured_collection  }}" title="{{ product.title }}"><span class="counter"><span>3</span></span><div class="product-collab-content"><span class="product-collab-sku">{% include 'new-sku' with sku  %}</span><h1 class="product-collab-title">{{ product.title }}</h1><div class="product-collab-sizing">{% if size != blank %}<em>Models wears a size </em><b>{{ size }}</b>{% endif %}{% if size != blank and color != blank %}/{% endif %}{% if color != blank %}<em>Color </em><span class="condensed">{{ color }}</span>{% endif %}</div><span class="product-collab-description">{{ product.description }}</span><!--<a href="{{ product.url}}">View Item</a>--></div></a>{% include 'product-item' with item_width %}</li>
            {% endif %}
            {% if block.settings.product_four != '' %}
            {% assign product = all_products[block.settings.product_four] %}
            {% assign size = block.settings.product_four_size %}
            {% assign color = block.settings.product_four_color %}
            <li data-id="4"><a href="{{ product.url | within: featured_collection }}" title="{{ product.title }}"><span class="counter"><span>4</span></span><div class="product-collab-content"><span class="product-collab-sku">{% include 'new-sku' with sku  %}</span><h1 class="product-collab-title">{{ product.title }}</h1><div class="product-collab-sizing">{% if size != blank %}<em>Models wears a size </em><b>{{ size }}</b>{% endif %}{% if size != blank and color != blank %}/{% endif %}{% if color != blank %}<em>Color </em><span class="condensed">{{ color }}</span>{% endif %}</div><span class="product-collab-description">{{ product.description }}</span><!--<a href="{{ product.url}}">View Item</a>--></div></a>{% include 'product-item' with item_width %}</li>
            {% endif %}
          </ol>
          <div class="product-collab-controls">
            <ul>
            <li class="active view-as-text"><button>View as Text</button></li>
            <li class="view-as-images"><button>View as Images</button></li>
            <li class="shop-collaboration"><a class="shop-collaboration-link" href="{{ featured_collection.url }}">Shop Collection</a></li>
            
            </ul>
          </div>
        </div>
        <div class="product-collab-image {% if section.settings['show_numbers'] == true %}show_numbers{% endif %}">
          {% if block.settings.product_one != '' %}
          <a data-id="1" href="{{ all_products[block.settings.product_one].url | within: featured_collection }}" style="left:{{ block.settings.product_one_x }}%; top:{{ block.settings.product_one_y }}%; ">1</a>
          {% endif %}
          {% if block.settings.product_two != '' %}
          <a data-id="2" href="{{ all_products[block.settings.product_two].url | within: featured_collection }}" style="left:{{ block.settings.product_two_x }}%; top:{{ block.settings.product_two_y }}%; ">2</a>
          {% endif %}
          {% if block.settings.product_three != '' %}
          <a data-id="3" href="{{ all_products[block.settings.product_three].url | within: featured_collection }}" style="left:{{ block.settings.product_three_x }}%; top:{{ block.settings.product_three_y }}%; ">3</a>
          {% endif %}
          {% if block.settings.product_four != '' %}
          <a data-id="4" href="{{ all_products[block.settings.product_four].url | within: featured_collection }}" style="left:{{ block.settings.product_four_x }}%; top:{{ block.settings.product_four_y }}%; ">4</a>
          {% endif %}
          {{ block.settings.collab_image | img_url: '1024x' | img_tag }}
          <span class="product-collab-counter">{% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}/{% if section.blocks.size < 10 %}0{% endif %}{{ section.blocks.size }}</span>
        </div>
      </div>
      
    </div> 
  {% endfor %}
	
</div>

{% schema %}
{
  "name": "Products",
  "settings": [
    {
      "id": "collab_collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "id": "show_numbers",
      "type": "checkbox",
      "label": "Show Numbers (uncheck before publishing)"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Product",
      "settings": [
        {
          "id": "collab_image",
          "type": "image_picker",
       		"label": "Select Image"
        },
        {
          "id": "product_one",
          "type": "product",
       		"label": "Product 1"
        },
        {
          "id": "product_one_size",
          "type": "text",
       		"label": "Product One Size"
        },
        {
          "id": "product_one_color",
          "type": "text",
       		"label": "Product One Color"
        },
        {
          "type": "range",
          "id": "product_one_x",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product One Label X Position",
          "default": 16
        },
        {
          "type": "range",
          "id": "product_one_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product One Label Y Position",
          "default": 16
        },
        {
          "id": "product_two",
          "type": "product",
       		"label": "Product 2"
        },
        {
          "id": "product_two_size",
          "type": "text",
       		"label": "Product Two Size"
        },
        {
          "id": "product_two_color",
          "type": "text",
       		"label": "Product Two Color"
        },
        {
          "type": "range",
          "id": "product_two_x",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Two Label X Position",
          "default": 16
        },
        {
          "type": "range",
          "id": "product_two_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Two Label Y Position",
          "default": 16
        },
        {
          "id": "product_three",
          "type": "product",
       		"label": "Product 3"
        },
        {
          "id": "product_three_size",
          "type": "text",
       		"label": "Product Three Size"
        },
        {
          "id": "product_three_color",
          "type": "text",
       		"label": "Product Three Color"
        },
        {
          "type": "range",
          "id": "product_three_x",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Three Label X Position",
          "default": 16
        },
        {
          "type": "range",
          "id": "product_three_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Three Label Y Position",
          "default": 16
        },
        {
          "id": "product_four",
          "type": "product",
       		"label": "Product 4"
        },
        {
          "id": "product_four_size",
          "type": "text",
       		"label": "Product Four Size"
        },
        {
          "id": "product_four_color",
          "type": "text",
       		"label": "Product Four Color"
        },
        {
          "type": "range",
          "id": "product_four_x",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Four Label X Position",
          "default": 16
        },
        {
          "type": "range",
          "id": "product_four_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Product Four Label Y Position",
          "default": 16
        }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Blocks",
      "category": "Product",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}