{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">


    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'style.scss.css' | asset_url | stylesheet_tag }} 

    <!-- JS =================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  </head>

  <body class="template-password">

    <div class="password-page__wrapper">

      <header class="password-page__header" role="banner">

        <div class="password-page__header__inner">

          {% comment %}
            Link to password modal
          {% endcomment %}
          

          {% form 'storefront_password' %}

          {{ form.errors | default_errors }}

          <label for="password">Enter store using password:</label>
          <input type="password" name="password">
          <input type="submit" value="Enter">

          {% endform %}

          {% comment %}
            Site name or logo
          {% endcomment %}
          <div class="logo" style="margin-left:-{{ settings.logo_max_width | divided_by:2 }}px" itemscope itemtype="http://schema.org/Organization">
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url" style="width:{{ settings.logo_max_width }}px;">{% if settings.logo.svg != '' %}{{ settings.logo_svg }}{% else %}<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">{% endif %}</a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          </div>

        </div>

      </header>

      <div class="password-page__main" role="main">

        <div class="password-page__main__inner">

          {% comment %}
            Opening soon text
          {% endcomment %}


          {% comment %}
            Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
          {% endcomment %}


          {% comment %}
            Signup form
          {% endcomment %}


          {% comment %}
            Share homepage URL
            Shared text is from the store meta description
          {% endcomment %}

         

        </div>

      </div>

      

    </div>
    
  


  </body>
</html>
